<div [class]="'content' + (this.accountService.userData && this.roleService.roleSelectData ? '' : ' hidden')">
    <div class="wrapper-information">
        <label *ngIf="this.accountService.userData && this.roleService.roleSelectData">
            <b>Nombre: </b>{{this.accountService.userData.user.names}} {{this.accountService.userData.user.surnames}} ||
            <b>Rol: </b>{{this.accountService.userData.roleName}} ||
            <b>Empresa: </b>{{this.accountService.userData.empresa.nombre}} ||
            <b>Nit: </b>{{this.accountService.userData.empresa.documento}}
        </label>
    </div>
</div>