<h1 mat-dialog-title>Variables</h1>
<form class="row" #f="ngForm" [formGroup]="this.form" *ngIf="type == 0">
    <label style="color:white;">This dialog showcases the title, close, content and actions
        elemasdasdadaen</label>
    <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
            <mat-label>Nombre:</mat-label>
            <input type="text" matInput #Nombre placeholder="Nombre" formControlName="Nombre"
                [readonly]="this.option == 'view'">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
            <mat-label>Descripción:</mat-label>
            <input type="text" matInput #Descripcion placeholder="Descripción" formControlName="Descripcion"
                [readonly]="this.option == 'view'">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
            <mat-label>Módulo:</mat-label>
            <input type="text" matInput #Modulo placeholder="Módulo" formControlName="Modulo"
                [readonly]="this.option == 'view'">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
            <mat-label>Variable 1:</mat-label>
            <input type="text" matInput #Variable1 placeholder="Variable 1" formControlName="Variable1"
                [readonly]="this.option == 'view'">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
            <mat-label>Variable 2:</mat-label>
            <input type="text" matInput #Variable2 placeholder="Variable 2" formControlName="Variable2"
                [readonly]="this.option == 'view'">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
            <mat-label>Variable 3:</mat-label>
            <input type="text" matInput #Variable3 placeholder="Variable 3" formControlName="Variable3"
                [readonly]="this.option == 'view'">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
            <mat-label>Variable 4:</mat-label>
            <input type="text" matInput #Variable4 placeholder="Variable 4" formControlName="Variable4"
                [readonly]="this.option == 'view'">
        </mat-form-field>
    </div>
</form>
<div style="padding: 20px 0 25px 0;">
    <button type="submit" class="btn btn-primary me-2" (click)="onSave()" [disabled]="this.form.invalid"
        *ngIf="type == 0">Registrar</button>
    <button type="submit" class="btn btn-secondary" (click)="cancelForm()">Cancelar</button>
</div>