<div class="login-box">
    <img class="logotipo" src="./../../../../assets/img/logo_sirpsi.png" alt="Logo de Sirpsi">
    <h1>Bienvenido/a</h1>
    <button id="iniciar-sesion" onclick="window.location = '/account/login'">Iniciar sesión</button>
    <button id="info-iniciar-sesion" (click)="openInfoMessage(0);">?</button>

    <button id="registrar-empresa" (click)="openFormDialogUser();">Registrar empresa</button>
    <button id="info-registrar-empresa" (click)="openInfoMessage(1);">?</button>

    <button id="tutoriales">Tutoriales y capacitación</button>
    <button id="info-tutoriales" (click)="openInfoMessage(2);">?</button>

    <button id="ayuda">Ayuda y soporte técnico</button>
    <button id="info-ayuda-soporte" (click)="openInfoMessage(3);">?</button>
</div>