<div style="padding: 16px;">
    <h1 mat-dialog-title>Roles para validación</h1>
    <div mat-dialog-content>
        <form class="row" #f="ngForm" [formGroup]="this.form" *ngIf="type == 0">
            <label style="color:white;">This dialog showcases the title, close, content and actions
                elemasdasdadaen</label>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                    <mat-label>Nombre:</mat-label>
                    <input type="text" matInput #Nombre placeholder="Nombre" formControlName="Nombre"
                        [readonly]="this.option == 'view'">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                    <mat-label>Descripción:</mat-label>
                    <input type="text" matInput #Descripcion placeholder="Descripción" formControlName="Descripcion"
                        [readonly]="this.option == 'view'">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Role: </mat-label>
                    <mat-select id="Variable2" #Variable2 formControlName="Variable2">
                        <mat-option [value]="rol.id" *ngFor="let rol of listRoles; let i = index">
                            {{rol.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button (click)="onSave()" cdkFocusInitial [disabled]="this.form.invalid"
            *ngIf="type == 0">Registrar</button>
    </div>
</div>