<form class="row" #f="ngForm" [formGroup]="this.form" *ngIf="type == 0">
    <label style="color:white;">This dialog showcases the title, close, content and actions
        elemasdasdadaen</label>
    <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
            <mat-label>Nombre:</mat-label>
            <input type="text" matInput #Nombre placeholder="Nombre" formControlName="Nombre"
                [readonly]="this.option == 'view'">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
            <mat-label>Descripción:</mat-label>
            <input type="text" matInput #Descripcion placeholder="Descripcion" formControlName="Descripcion"
                [readonly]="this.option == 'view'">
        </mat-form-field>
    </div>
    <div class="col-md-12">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
            <mat-label>Ruta:</mat-label>
            <input type="text" matInput #Ruta placeholder="Ruta" formControlName="Ruta"
                [readonly]="this.option == 'view'">
        </mat-form-field>
    </div>
</form>
<div style="padding: 20px 0 25px 0;">
    <button type="submit" class="btn btn-primary me-2" (click)="onSave()" [disabled]="this.form.invalid"
        *ngIf="type == 0">Registrar</button>
    <button type="submit" class="btn btn-secondary" (click)="cancelForm()">Cancelar</button>
</div>