<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">
                    {{title}}
                </h6>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead style="background: #1A73E8 ;">
                            <tr>
                                <th style="color: white;" *ngFor="let column of columns">{{column.name}}</th>
                                <th style="color: white;" *ngIf="this.columns.length > 0 && this.options.length > 0">
                                    Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let da of (dataTable != undefined ? dataTable : data); let i = index">
                                <td hidden="true">{{da.id}}</td>
                                <td *ngFor="let column of columns">{{ (
                                    column.burnedData != null ? (column.property == null ? (da[column.data] != 0 ?
                                    column.burnedData.not
                                    : column.burnedData.yeah) : ((da[column.data] != null ?
                                    da[column.data][column.property] : "") != 0
                                    ? column.burnedData.not :
                                    column.burnedData.yeah))
                                    : (
                                    column.property == null ? column.pipeDate != null ? (da[column.data] | date:
                                    column.pipeDate) :
                                    da[column.data] :
                                    column.pipeDate != null ? (da[column.data] != null ?
                                    da[column.data][column.property] : "" |
                                    date: column.pipeDate) :
                                    da[column.data] != null ? da[column.data][column.property] : ""
                                    )) }}</td>
                                <td *ngIf="this.columns.length > 0 && this.options.length > 0" style="display: flex;"
                                    select="6">
                                    <button *ngIf="this.options[0].delete" (click)="this.DeletePeople(da.id);"
                                        type="button" class="btn-delete btn btn-danger" #tooltip="matTooltip"
                                        matTooltip="Eliminar">
                                        <i class="btn-delete fa-solid fa-trash"></i>
                                    </button>
                                    <button *ngIf="this.options[0].deletePer" (click)="this.DetailOrEditItem(da, 5);"
                                        type="button" class="btn-delete btn btn-danger" #tooltip="matTooltip"
                                        matTooltip="Eliminar">
                                        <i class="btn-delete fa-solid fa-trash"></i>
                                    </button>
                                    <button *ngIf="this.options[0].edit" (click)="this.DetailOrEditItem(da.id, 2)"
                                        type="button" class="btn-edit btn btn-primary" style="margin: 0px 6px 0px 6px;"
                                        #tooltip="matTooltip" matTooltip="Modificar"><i
                                            class="btn-edit fa-solid fa-pencil"></i>
                                    </button>
                                    <button *ngIf="this.options[0].details" (click)="this.DetailOrEditItem(da.id, 1)"
                                        type="button" class="btn-details btn btn-warning"
                                        style="margin: 0px 6px 0px 0px;" #tooltip="matTooltip" matTooltip="Detalle"><i
                                            class="btn-details fa-regular fa-eye"></i>
                                    </button>
                                    <button *ngIf="this.options[0].state" (click)="this.ChangeStaTus(da)" type="button"
                                        class="{{da[nameColumnStatus] == this.state ? 'btn-state btn btn-secondary' : 'btn-state btn btn-success'}}"
                                        style="margin: 0px 6px 0px 0px;" #tooltip="matTooltip"
                                        [matTooltip]="da[nameColumnStatus] == this.state ? 'Deshabilitar' : 'Habilitar'"><i
                                            [ngClass]="da[nameColumnStatus] == this.state ? 'btn-state fa-solid fa-circle-xmark' : 'btn-state fa-solid fa-circle-check'"></i>
                                    </button>
                                    <button *ngIf="this.options[0].pdf" (click)="this.DetailOrEditItem(da.id, 3)"
                                        type="button" class="btn btn-info"
                                        style="margin: 0px 6px 0px 0px;background: #ff0000;border-color:#9b1515;"><i
                                            class="fa-solid fa-file-excel"></i>
                                    </button>
                                    <button *ngIf="this.options[0].assign" (click)="this.DetailOrEditItem(da, 4)"
                                        type="button" class="btn-assign btn btn-info"
                                        style="margin: 0px 6px 0px 0px;background: #5c5c5c;border-color:#3d3d3d;"><i
                                            class="btn-assign fa fa-user" #tooltip="matTooltip"
                                            matTooltip="Asignar"></i>
                                    </button>
                                    <button *ngIf="this.options[0].select"
                                        (click)="this.SeletedItem(da, da.estado, this.options[0].validationSelect)"
                                        type="button" class="btn-select btn btn-info"
                                        style="margin: 0px 6px 0px 0px;"><i class="btn-select fa-solid fa-arrow-right"
                                            #tooltip="matTooltip" matTooltip="Consultar"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>