.wrapper {
    background: white;
    padding: 14px 0px 12px 0px;
    border-radius: 7px;
    min-width: 310px;
    width: 95%;
    text-align: center;
    padding: 25px 10px;
    max-width: 600px;
    margin: 8% auto 0;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.3);
    font-size: 15px;
}
.mat-dialog-container {
    width: 700px !important;
}
.mat-form-field {
    display: initial;
}
.mat-mdc-form-field {
    width: 100% !important;
}
.mat-form-field {
    width: 100% !important;
}
.form-label {
    > i {
        display: inline-block;
        font-size: 20px;
        text-align: left;
        margin-right: 12px;
        color: #7987a1;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        cursor: pointer;
        i,
        svg {
            transform: scale(1.3);
            color: #1663c9;
        }
    }
}
