<form #f="ngForm" [formGroup]="this.form">
    <h2><b>Licencia ocupacional</b></h2>
    <mat-divider style="margin: 10px 0px; float:left; width: 100%;"></mat-divider>
    <div class="row">
        <div [class]="this.colSize">
            <label class="form-label">Número de Licencia Ocupacional <i class="mdi mdi-information"
                    #tooltip="matTooltip"
                    matTooltip="Ingrese el número de licencia ocupacional del psicologo"></i></label>
            <input class="form-control" type="text" #Number placeholder="Numero de licencia" formControlName="Number"
                required />
            <p class="text-danger mt-1" *ngIf="form.controls.Number.errors?.required">Este
                campo es obligatorio
            </p>
        </div>
        <div [class]="this.colSize">
            <label class="form-label">Fecha expedición <i class="mdi mdi-information" #tooltip="matTooltip"
                    matTooltip="Ingrese la fecha de "></i></label>
            <input class="form-control" type="date" #ExpeditionDate placeholder="Fecha de expedición"
                formControlName="ExpeditionDate" required />
            <p class="text-danger mt-1" *ngIf="form.controls.ExpeditionDate.errors?.required">Este
                campo es obligatorio
            </p>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="GetInto()"
            [disabled]="this.form.invalid">Actualizar</button>
        <button class="btn btn-secondary" (click)="cancelarForm()">Cancelar</button>
    </div>
    <mat-divider style="margin: 20px 0px; float:left; width: 100%;"></mat-divider>
</form>