.mat-mdc-form-field {
    width: 100% !important;
}
.mat-form-field {
    width: 100% !important;
}
.title {
    font-weight: bold;
    font-size: 190%;
    text-align: center;
    width: 100%;
    padding: 8px 0 31px 0;
}
.hr {
    margin: 14px 0px !important;
}
.form-label {
    > i {
        display: inline-block;
        font-size: 20px;
        text-align: left;
        margin-right: 12px;
        color: #7987a1;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        cursor: pointer;
        i,
        svg {
            transform: scale(1.3);
            color: #1663c9;
        }
    }
}
.mat-mdc-radio-button {
    margin-left: 16px !important;
}
