.card {
    margin: 9% auto 12px;
    text-align: center;
}
.logotipo {
    max-width: 280px;
    width: 86%;
    margin: 0 auto 10px;
    display: block;
}
// .btn-primary {
//     background: #1a73e8 !important;
//     border-color: #1a73e8;
// }
// .btn-outline-primary {
//     border-color: #1a73e8;
//     color: #1a73e8;
// }
// .btn-outline-primary:hover {
//     background-color: #1a73e8;
//     color: white;
// }
