.mat-mdc-form-field {
    width: 100% !important;
}
.mat-form-field {
    width: 100% !important;
}
.title {
    font-weight: bold;
    font-size: 190%;
    text-align: center;
    width: 100%;
    padding: 8px 0 31px 0;
}
