<app-loading *ngIf="this.loading"></app-loading>
<div style="float: left; width: 100%;">
    <div class="wrapper">
        <form #f="ngForm" [formGroup]="this.form">
            <div class="row">
                <div class="col-md-11">
                    <h2><b>Nueva contraseña</b></h2>
                </div>
                <div class="col-md-1">
                    <mat-icon #tooltip="matTooltip"
                        matTooltip="La contraseña debe contener: una mayuscula, un numero y un caracter especial.">info</mat-icon>
                </div>
            </div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Contraseña:</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" #NewPassword formControlName="NewPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Confirmar contraseña:</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" #ConfirmPassword formControlName="ConfirmPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="GetInto()" style="width: 100%;"
                    [disabled]="this.form.invalid">Cambiar contraseña</button>
            </div>
            <mat-divider style="margin: 20px 0px; float:left; width: 100%;"></mat-divider>
            <h3><a href="account/login" class="item-blue">Regresar</a></h3>
        </form>
    </div>
</div>