<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 space">
            <label class="title">Lista de rutas</label>
        </div>
        <div class="col-md-5 space">
            <a type="button" style="width: 100%; margin-bottom: 10px;background: #1A73E8; border: 1px solid #1663c9 ;"
                class="btn btn-dark" (click)="openFormDialogUser()">
                Registrar ruta
                <i class="fa-solid fa-tower-control"></i>
            </a>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 space"></div>
            <app-generic-table [columns]="columns" [table]="table" [options]="options" (dateil)="OpenFormDialog($event)"
                (pdf)="DownloadPDF($event)" (selected)="SelectReservation($event)"></app-generic-table>
        </div>
        <!-- <div class="col-md-12" *ngIf="this.dataTable != null">
            <div class="col-md-12 space"></div>
            <app-generic-table [columns]="columnsPersons" [dataTable]="this.dataTable"
                [table]="'BookingPersons'"></app-generic-table>
        </div> -->
    </div>
</div>